html {   scroll-behavior: smooth;
}
body {
   background-color: wheat;
   color: blueviolet;
}
.container {
   width: 80%;
   margin: auto;
}

#about {
   min-height: 75vh;
   margin-bottom: 15px;
}
#appointment {
   min-height: 75vh;
   margin-bottom: 15px;
}
#Features {
   min-height: 75vh;
   margin-bottom: 15px;
}
