html {   scroll-behavior: smooth;
}
body {
   overflow-x: hidden;
   font-family: "Gilroy", sans-serif;
}
a {
   text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
   margin: 0;
}
.container {
   width: 90%;
   margin: auto;
}

/* header */
.header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   margin-top: 2.7%;
}
.logo {
   width: 7vw;
   text-align: left;
   padding-left: 1vw;
}
.logo img {
   width: 3.65vw;
   object-fit: cover;
   height: 100%;
}
.navigation {
   display: flex;
   justify-content: space-between;
   width: 43%;
}
.navigation a {
   color: #202020;
   font-weight: 500;
   font-size: 16px;
   line-height: 21.19px;
}
.navigation a:hover {
   color: #9c3596;
}
.nav-appointment {
   padding: 15px 30px;
   color: #fff;
   font-size: 16px;
   line-height: 18.19px;
   font-weight: 500;
   border-radius: 10px;
   width: 7vw;
   text-align: center;
   background-image: linear-gradient(to right, #9c3596, #ce3fa6, #c855c2),
      linear-gradient(to right, #9f439b, #9e317f, #7d2ba6);
   background-size: 200% auto;
   transition: 0.3s;
}
.nav-appointment:hover {
   background-position: right;
}

/* about */
.about {
   background-color: #efe5e3;
   height: 82vh;
   position: relative;
   border-radius: 60px;
   margin-top: 30px;
}
.info {
   display: flex;
   flex-direction: column;
   max-width: 55%;
   margin-left: 7%;
   padding-top: 10%;
}
.info h1 {
   font-size: 40px;
   font-weight: 500;
   line-height: 45.62px;
   color: #202020;
}
.info h1 span {
   color: #9c3596;
}
.info p {
   margin-top: 3.5%;
   font-size: 16px;
   line-height: 18px;
   font-weight: 500;
}
.actions {
   margin-top: 7%;
}
.actions .nav-appointment {
   margin-right: 3%;
}
.phone {
   background-color: transparent;
   border: 1px solid #9c3596;
   color: #9c3596;
   padding: 15px 30px;
   font-size: 16px;
   line-height: 18.19px;
   font-weight: 500;
   border-radius: 10px;
   width: 7vw;
   text-align: center;
   transition: 0.3s;
   font-family: "Gilroy", sans-serif;
}
.about img {
   position: absolute;
   bottom: 0;
   right: 0;
   width: 35vw;
}
