html {   scroll-behavior: smooth;
}
body {
   overflow-x: hidden;
   font-family: "Gilroy", sans-serif;
}
a {
   text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
   margin: 0;
   font-family: "Gilroy", sans-serif;
}
.container {
   width: 90%;
   margin: auto;
}

/* header */
.header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   margin-top: 2.7%;
}
.logo {
   width: 7vw;
   text-align: left;
   padding-left: 1vw;
}
.logo img {
   width: 3.65vw;
   object-fit: cover;
   height: 100%;
}
.navigation {
   display: flex;
   justify-content: space-between;
   width: 43%;
}
.navigation a {
   color: #202020;
   font-weight: 500;
   font-size: 16px;
   line-height: 21.19px;
}
.navigation a:hover {
   color: #9c3596;
}
.nav-appointment {
   padding: 15px 30px;
   color: #fff;
   font-size: 16px;
   line-height: 18.19px;
   font-weight: 500;
   border-radius: 10px;
   width: 7vw;
   text-align: center;
   background-image: linear-gradient(to right, #9c3596, #ce3fa6, #c855c2),
      linear-gradient(to right, #9f439b, #9e317f, #7d2ba6);
   background-size: 200% auto;
   transition: 0.3s;
}
.nav-appointment:hover {
   background-position: right;
}
#burger {
   display: none;
}
@media (max-width: 768px) {
   .navigation {
      display: none; /* Hide navigation links by default on smaller screens */
   }
   .nav-appointment {
      display: none;
   }
   .navigation.active {
      position: absolute;
      display: flex;
      flex-direction: column;
      position: absolute;
      background-color: transparent;
      padding: 20px 0;
      width: 85vw;
      bottom: 0;
      margin-bottom: 30px;
      text-align: center;
   }
   .navigation.active a {
      margin: 10px 0;
      color: #202020;
      width: 90vw;
   }
   .logo {
      position: absolute;
      top: 0;
      left: 0;
      margin: 20px 0 0 15px;
   }
   .logo img {
      width: 40px;
   }
   #burger {
      display: flex; /* Show burger button */
      font-size: 20px;
      color: #9c3596;
      position: absolute;
      top: 0;
      right: 0;
      margin: 40px 5vw 0 0;
   }
   .header {
      height: fit-content;
      position: relative;
      margin-top: 0;
      height: 100px;
   }
   .header.active {
      height: 350px;
   }
   .nav-appointment.active {
      display: flex;
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 10px 15px;
      margin: 0 5vw 10px 0;
      font-size: 14px;
      line-height: 13.19px;
      border-radius: 8px;
      width: fit-content;
   }
}

/* about */
.about {
   background-color: #efe5e3;
   height: 82vh;
   position: relative;
   border-radius: 60px;
   margin-top: 30px;
   margin-bottom: 7.5vh;
   overflow: hidden;
}
.info {
   display: flex;
   flex-direction: column;
   max-width: 55%;
   margin-left: 7%;
   padding-top: 10%;
}
.info h1 {
   font-size: 44px;
   font-weight: 500;
   line-height: 45.62px;
   color: #202020;
}
.info h1 span {
   color: #9c3596;
}
.info p {
   margin-top: 3.5%;
   font-size: 16px;
   line-height: 18px;
   font-weight: 500;
}
.actions {
   margin-top: 7%;
}
.actions .nav-appointment {
   margin-right: 3%;
}
.phone {
   background-color: transparent;
   border: 1px solid #9c3596;
   color: #9c3596;
   padding: 15px 30px;
   font-size: 16px;
   line-height: 18.19px;
   font-weight: 500;
   border-radius: 10px;
   width: 7vw;
   text-align: center;
   transition: 0.3s;
   font-family: "Gilroy", sans-serif;
}
.phone:hover {
   transform: scale(1.1);
}
.phone i {
   margin-right: 8px;
}
.main-woman {
   position: absolute;
   bottom: 0;
   right: 0;
   width: 35vw;
   transition: 0.2s;
}
.main-woman:hover {
   transform: scale(1.05);
}
.smm {
   position: absolute;
   height: 15.6%;
   padding: 5px 30px;
   bottom: 0;
   min-width: fit-content;
   width: 40%;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   background-color: #fff;
   align-items: center;
   border-radius: 0 25px 0 0;
   overflow: hidden;
}
.smm a {
   border: 1px solid #202020;
   padding: 1% 3%;
   border-radius: 5px;
   margin-right: 4%;
   align-items: center;
   color: #202020;
   transition: 0.2s;
   display: flex;
   flex-direction: row;
}
.smm a:hover {
   transform: scale(1.1);
}
.smm img {
   width: 12px;
   margin-left: 3px;
}

@media (max-width: 768px) {
   .about {
      height: 70vh;
      border-radius: 20px;
      margin-top: 0px;
      margin-bottom: 2vh;
   }
   .info {
      max-width: 90%;
      margin-left: 5%;
      padding-top: 10%;
   }
   .info h1 {
      font-size: 22px;
      line-height: 24px;
      text-align: center;
   }
   .info p {
      margin-top: 3.5%;
      font-size: 14px;
      line-height: 15.78px;
   }
   .actions {
      margin-top: 7%;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   }
   .actions .nav-appointment {
      margin-right: 1%;
      position: relative;
      width: 45%;
      height: 15px;
      text-align: center;
      padding: 10px 20px;
      height: 100%;
      display: none;
   }
   .phone {
      padding: 10px 20px;
      font-size: 14px;
      line-height: 16.19px;
      width: 45%;
      align-items: center;
   }
   .phone:hover {
      transform: scale(1);
   }
   .main-woman {
      position: static;
      width: 100%;
      bottom: 0;
   }
   .main-woman:hover {
      transform: scale(1);
   }
   .smm {
      height: fit-content;
      padding: 5px 10px;
      width: 95%;
      flex-wrap: wrap;
   }
   .smm a {
      border: 0.2px solid #20202070;
      padding: 1.75% 3%;
      border-radius: 10px;
      margin: 0 5px;
      font-size: 11px;
   }
   .smm img {
      width: 6px;
      margin-left: 1px;
   }
}

/* call-to-action */
#CallToAction {
   padding-top: 7.5vh;
}
.title {
   font-weight: 500;
   font-size: 42px;
   line-height: 44px;
   color: #202020;
}
#call-to-action {
   width: 51.5vw;
}
.title span {
   color: #9c3596;
}
.desc {
   width: 50vw;
   margin: 2% 0;
   font-size: 16px;
   font-weight: 500;
   color: #202020;
}
.desc span {
   color: #9c3596;
}
.calls {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   margin-bottom: 7.5vh;
}
.call {
   position: relative;
   width: 49%;
   height: 55vh;
   background-color: #efe5e3;
   border-radius: 25px;
   overflow: hidden;
}
.call h1 {
   font-weight: 500;
   font-size: 36px;
   line-height: 38px;
   color: #9c3596;
   width: 55%;
   margin-top: 13%;
}
.call p {
   font-weight: 500;
   font-size: 16px;
   line-height: 21px;
   margin: 2.4% 0 5.5%;
   width: 55%;
   color: #202020;
}
.call img {
   position: absolute;
   right: 0;
   bottom: 0;
   height: 85%;
}

@media (max-width: 768px) {
   #CallToAction {
      padding-top: 5vh;
   }
   .title {
      font-size: 22px;
      line-height: 23.75px;
   }
   #call-to-action {
      width: 70vw;
   }
   .title span {
      color: #9c3596;
   }
   .desc {
      width: 74vw;
      margin: 2% 0;
      font-size: 16px;
      font-weight: 500;
      color: #202020;
   }
   .desc span {
      color: #9c3596;
   }
   .calls {
      justify-content: space-around;
      margin-top: 4vh;
   }
   .call {
      width: 100%;
      height: 24vh;
      border-radius: 15px;
      margin-bottom: 20px;
   }
   .call h1 {
      font-size: 22px;
      line-height: 23.75px;
      width: 53%;
      margin-top: 10%;
   }
   .call p {
      font-size: 14px;
      line-height: 15.25px;
      margin: 5% 0 5.5%;
      width: 55%;
   }
}

/* features */
#Features {
   padding-top: 7.5vh;
}
.features {
   margin-top: 6%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   height: fit-content;
   align-items: center;
   margin-bottom: 7.5vh;
}
.feature {
   display: flex;
   align-items: center;
   height: 100%;
   justify-content: space-between;
   width: 20%;
}
.feature img {
   margin-right: 10px;
}
.feature p {
   font-size: 18px;
   font-weight: 500;
   line-height: 20px;
   color: #202020;
}
.divider {
   width: 0.5px;
   height: 70px;
   background-color: #202020;
}

@media (max-width: 768px) {
   #Features {
      padding-top: 0vh;
   }
   .features {
      margin-top: 6%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      height: fit-content;
      align-items: center;
      margin-bottom: 7.5vh;
      flex-wrap: wrap;
   }
   .feature {
      width: 70%;
      margin-bottom: 10px;
   }
   .feature img {
      margin-right: 10px;
   }
   .feature p {
      font-size: 16px;
      line-height: 18px;
   }
   .divider {
      display: none;
   }
}

/* masters */
#Masters {
   padding-top: 7.5vh;
}
.masters {
   margin-top: 5%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-bottom: 7.5vh;
}
.master {
   width: 21.5vw;
}
.img-bg {
   width: 100%;
   aspect-ratio: 1/1;
   overflow: hidden;
   background-color: #efe5e3;
   border-radius: 50px;
   position: relative;
}
.img-bg img {
   position: absolute;
   bottom: 0;
   width: 68%;
   margin: 0 16%;
   transition: 0.3s;
}
.img-bg img:hover {
   transform: scale(1.1);
   cursor: pointer;
}
.name {
   margin-top: 5%;
   font-size: 22px;
   font-weight: 500;
   color: #202020;
}
.experience {
   font-weight: 500;
   font-size: 14px;
   color: #202020;
}

@media (max-width: 768px){
   #Masters {
      padding-top: 0vh;
   }
   .master {
      width: 44vw;
      margin-bottom: 20px;
   }
   .img-bg img:hover {
      transform: scale(1);
   }
   .name {
      font-size: 16px;
   }
   .experience {
      font-size: 14px;
   }
}

/* bestworks */
#BestWorks {
   padding-top: 7.5vh;
}
.works {
   margin-top: 5%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-bottom: 7.5vh;
}
.work {
   position: relative;
   width: 49%;
   height: 50vh;
   background-color: #efe5e3;
   border-radius: 50px;
   overflow: hidden;
}
.logotype {
   position: absolute;
   top: 0;
   left: 0;
   margin: 30px 0 0 30px;
}
.logo:hover {
   cursor: pointer;
}
.work-img {
   display: flex;
   position: relative;
   height: 100%;
   width: 40%;
   margin: auto;
}
.work-img img {
   position: absolute;
   width: 100%;
   bottom: 0;
   transition: 0.2s;
}
.work-img img:hover {
   transform: scale(1.1);
   cursor: pointer;
}
.work-info {
   position: absolute;
   margin: 30px 30px 0 0;
   right: 0;
   top: 0;
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: end;
}
.information {
   color: #202020;
   font-size: 16px;
   padding: 7px;
   border: 1px solid #202020;
   margin-bottom: 15px;
   border-radius: 10px;
   width: fit-content;
   text-align: center;
}

/* certificates */
#Certificates {
   padding-top: 7.5vh;
}
.certificates {
   margin-top: 5%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-bottom: 7.5vh;
}
.certificate {
   background-color: #efe5e3;
   width: 32%;
   aspect-ratio: 1.55/1;
   border-radius: 50px;
   position: relative;
}
.certificate .container {
   width: 80%;
   position: relative;
   height: 100%;
}
.certificate h3 {
   font-size: 22px;
   color: #202020;
   line-height: 26px;
   height: fit-content;
   margin-bottom: 15px;
   margin-top: 13%;
   font-weight: 500;
}
.certificate p {
   font-size: 14px;
   max-width: 90%;
   color: #202020;
   line-height: 18.19px;
   font-weight: 500;
}
.certificate .price {
   margin-bottom: 36px;
   color: #9c3596;
   font-size: 36px;
   font-weight: 500;
   position: absolute;
   bottom: 0;
}
.add {
   background-color: #fff;
   padding: 20px 5px 0 20px;
   border-radius: 50px 0 0 0;
   width: fit-content;
   float: right;
   position: absolute;
   right: 0;
   bottom: 0;
}
.add-bg {
   background-color: #9c3596;
   border-radius: 100%;
   width: fit-content;
   padding: 18px 20px;
   transition: 0.3s;
}
.add-bg:hover {
   transform: scale(1.2);
   cursor: pointer;
}
.add i {
   font-size: 36px;
   color: #fff;
}

/* appointment */
#appointment {
   padding-top: 7.5vh;
}
.appointment-section {
   background-color: #efe5e3;
   border-radius: 50px;
   margin: 5vh 0 15vh 0;
   position: relative;
   overflow: hidden;
}
.appointment-section .container {
   padding: 4% 0;
   margin-left: 5%;
   width: 59%;
}
.appointment-section h3 {
   font-size: 24px;
   font-family: "Gilroy", sans-serif;
   font-weight: 500;
   color: #202020;
   margin-bottom: 3%;
}
.appointment-section h3 span {
   color: #9c3596;
}
.pick-masters {
   width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-bottom: 3%;
}
.picker {
   background-color: transparent;
   padding: 8px 16px;
   color: #9c3596;
   border: 0.3px solid #9c3596;
   border-radius: 10px;
   font-size: 16px;
   font-weight: 500;
   transition: 0.2s;
}
.picker.active {
   background-color: #9c3596;
   color: #fff;
}
.picker:hover {
   cursor: pointer;
   transform: scale(1.1);
}
.form {
   width: 100%;
}
.form p {
   font-size: 16px;
   font-weight: 500;
   color: #202020;
   line-height: 18px;
   margin-bottom: 10px;
}
.zapis {
   display: flex;
   flex-direction: row;
   width: 100%;
}
.work-type {
   width: 70%;
}
.date {
   padding-left: 15px;
   width: 30%;
}
.zapis select {
   max-width: 40%;
   background-color: transparent;
   color: #9c3596;
   font-size: 16px;
   padding: 7px;
   border-radius: 5px;
   border: 0.3px solid #9c3596;
   font-family: "Gilroy", sans-serif;
   margin: 0 4px;
}
.form input {
   margin-bottom: 20px;
   background-color: transparent;
   border: none;
   font-size: 14px;
   line-height: 16px;
   border-bottom: 1px solid #20202030;
   padding: 5px 0;
   width: 100%;
}
input:focus {
   outline: none;
}
.appointment-section img {
   position: absolute;
   bottom: 0;
   right: 0;
   width: 35%;
}
.appointment-section .appointment-btn {
   background-color: #9c3596;
   color: #fff;
   padding: 15px 45px;
   border-radius: 15px;
   font-family: "Gilroy", sans-serif;
   border: none;
   font-size: 22px;
   cursor: pointer;
   transition: 0.3s;
}
.appointment-btn:hover {
   transform: scale(1.1);
}
.btn-bg {
   background-color: #fff;
   padding: 20px 5px 0 20px;
   border-radius: 50px 0 0 0;
   width: 18%;
   height: 14%;
   text-align: center;
   float: right;
   position: absolute;
   right: 0;
   bottom: 0;
}

/* footer */
#Contacts {
   margin-top: 7.5vh;
}
#Contacts .container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
#whatsapp {
   margin-right: 20px;
}

#Contacts {
   height: 270vh;
}
